[Unit]
Description=tomcat service Listen on TCP Port 8080
After=network.target

[Service]
Type=forking
Environment="JAVA_HOME=/web/soft/jdk1.8.0_171/"
Environment="JRE_HOME=/web/soft/jdk1.8.0_171/jre/"
Environment="CATALINA_BASE=/web/soft/apache-tomcat-8.5.33/"
Environment="CATALINA_HOME=/web/soft/apache-tomcat-8.5.33/"
Environment="CLASSPATH=.:/web/soft/jdk1.8.0_171/lib/dt.jar:/web/soft/jdk1.8.0_171/lib/tools.jar:/web/soft/jdk1.8.0_171/jre/lib"
# Environment='CATALINE_OPTS=-Xms128M -Xmx765M -server -XX:+UseParallelGC'
# Environment='JAVA_OPTS=-Djava.awt.haedless=true -Djava.security.egd=file:/dev/./urandom'
RestartSec=10
Restart=always
ExecStart=/web/soft/apache-tomcat-8.5.33/bin/startup.sh
ExecReload=
ExecStop=/web/soft/apache-tomcat-8.5.33/bin/shutdown.sh
PrivateTmp=true
[Install]
WantedBy=multi-user.target