#global setting
global
        #每个进程的最大连接数
        maxconn 5120
        chroot /usr/local/haproxy
        #设定运行的uid和gid，或者使用用户名和组名 
        uid 99
        gid 99
        #设置后台运行，推荐的方式
        daemon
        quiet
        #启动的时候创建的进程数量，推荐应该小于cpu核数
        nbproc 2
        pidfile /usr/local/haproxy/haproxy.pid
        #配置日志为rsyslog local3
        log 127.0.0.1 local3
        #配置日志为rsyslog local0 的info级别
        #log 127.0.0.1 local0 info
defaults
        log    global
        #设置实例运行的模式，tcp或者http
        mode    http
        #默认不记录http请求的日志，此选项开启日志记录
        option  httplog
        #不记录空连接日志?
        option  dontlognull
        #连接后端服务器重试次数，超过次数就标记后端服务不可用
        retries 3
        #保持cookie 发生故障后转移服务器并刷新cookie
        option redispatch
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000
  
frontend public
        #如果配置了keepalived,就用*,或者用vip
        bind            *:8888
        #bind            192.168.1.10:443 ssl crt /etc/haproxy/haproxy.pem
        mode            http
        log             global
        option          httplog
        option          dontlognull
        monitor-uri     /monitoruri
        maxconn         8000
        timeout client  30s

        stats uri       /admin?stats
        stats auth admin:Admin@push
        use_backend     static if { hdr_beg(host) -i img }
        use_backend     static if { path_beg /img /css   }
        default_backend static

# The static backend backend for 'Host: img', /img and /css.
backend static
        mode            http
        balance         roundrobin
        option prefer-last-server
        retries         2
        option redispatch
        timeout connect 5s
        timeout server  5s
	#健康检测,不配置默认用4层，配置了就是7层
        #option httpchk /index.html HTTP/1.0
	#监听端口
        #option httpchk
        #GET后端的web页面检测
	#option httpchk  GET /index.html
	#匹配头信息，更加精细化
	#option httpchk HEAD /index.jsp HTTP/1.1\r\nHost:\ www.xxx.com
        server web1 192.168.119.128:8080 weight 1 minconn 1 maxconn 3 check inter 40000
        server web2 192.168.119.129:8081 weight 1 minconn 1 maxconn 3 check inter 40000
        server web3 192.168.119.130:8082 weight 1 minconn 1 maxconn 3 check inter 40000

# the application servers go here
#backend dynamic
#        mode            http
#        balance         roundrobin
#        retries         2
#        option redispatch
#        timeout connect 5s
#        timeout server  30s
#        timeout queue   30s
#        option httpchk  HEAD /login.php
#        cookie          DYNSRV insert indirect nocache
#        fullconn        4000 # the servers will be used at full load above this number of connections
#        server          dynsrv1 192.168.1.1:80 minconn 50 maxconn 500 cookie s1 check inter 1000
#        server          dynsrv2 192.168.1.2:80 minconn 50 maxconn 500 cookie s2 check inter 1000
#        server          dynsrv3 192.168.1.3:80 minconn 50 maxconn 500 cookie s3 check inter 1000
#        server          dynsrv4 192.168.1.4:80 minconn 50 maxconn 500 cookie s4 check inter 1000
